/* General Styling */
body {background-color: lightpink;}
.wrap {max-width:600px;margin:auto;background-color:pink;display: flex;justify-content: center;}
button {padding:0;background-color:hotpink;width:100px;height:100px;border:1px black solid;font-size:25px;font-family: 'Press Start 2P', Roboto;}
button:hover {background-color:darkviolet;}
button:active {background-color:black;color:white;transition: 0s;}
/* Calculator Styling */
#calculatorHeader {display:grid;grid-template-columns: 25% 75%;background-color:black;}
#calculatorButtons {display:grid;grid-template-columns: 25% 25% 25% 25%;grid-template-rows: 25% 25% 25% 25%;}
#resultScreen {margin:auto;color:white;font-weight: bold;font-size:46px;font-family: 'Press Start 2P', Roboto;}
div.button.keypad {width: 100%;height: 100%;display:flex;justify-content: center;align-items: center;}
div.button.modify {width: 100%;height: 100%;display:flex;justify-content: center;align-items: center;}
div.equate {width: 100%;height: 100%;display:flex;justify-content: center;align-items: center;}
div.clear {width: 100%;height: 100%;display:flex;justify-content: center;align-items: center;}
div.modify {width: 100%;height: 100%;display:flex;justify-content: center;align-items: center;}